h1 {
    color: rgb(0, 41, 188)  ;
    text-align: center  ;
    font-weight: bold;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    background-color: palegreen;
}

ul li {
    text-decoration: none;
    text-align: center;
    text-emphasis-color: grey;
    font-size: 50px;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    border: 2px solid black;
    background-color: aliceblue;
    margin: 40px;
    padding: 20px;
    max-width: auto;
    display: block;
     
    
}

body {
    background-color: rgb(234, 193, 193);
}


*
*::before,
*::after
{box-sizing: border-box
}

* { margin: 0px;
padding: 0px;
 
}

a:hover {
    background-color: yellowgreen;
}